body{
	padding: 0;
	margin: 0;
	font-family: Alegreya Sans SC,sans-serif;
	overflow: scroll;
	overflow-x: hidden;
	/*background: url("left.jpg") no-repeat;
	background-size: cover;*/
}

.vision{
	position: absolute;
	height: 40vh;
	display: flex;
	top: 25vh;
	left:10vw;
}
.heading{
	position: absolute;
	margin-top: 50px;
	width: 100vw;
	font-size: 80px;
	text-align: center;
	color: white;
	font-weight: bolder;

}

.left{
	width: 35vw;
	padding: 10px;
	font-size: 25px;
	color: white;

}

.center{
	width: 10vw;
}

.right{
	width: 35vw;
	color: white;
	padding: 10px;
	font-size: 25px;
}

.blackcover{
	background-color: rgba(0,0,0, 0.65);
	width: 100%;
	height: 100%;
}

.container{
	height: 100vh;
	width: 100vw;
	position: relative;
	background: url("left.gif") no-repeat;
	background-size: cover;
}

.head{
	position: relative;
	top:10px;
	left:37%;
	font-size: 40px;
	font-weight: bolder;
}

.text{
	position: relative;
	top:10%;
	left:2%;

}

.right .head{
	left: 25%;
}

.team{
	height: 85vh;
	background: #f7f7f7;
	width: 100vw;
}

.team .head{
	text-align: center;
	left:0%;
}

.footer{
	height: 5vh;
	background:#424242;
	text-align: center;
	padding: 20px;
	color: white;
}

a{
	text-decoration: none;
}

.members{
	display: flex;
	justify-content: center;
	padding:75px;
}

.pic{
	border-radius: 50%;
	width: 365px;
	height: 360px;
	margin: 0px 50px;
}

#raghav{
	background: url("raghav.jpg");
	background-size: contain;
	background-position: center center;
}

#mehul{
	background: url("mehul.gif") no-repeat;
	background-size: contain;
	background-position: center center;
}

.mem{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 20px;
	padding: 10px;
}

.mem p{
	text-align: center;
	font-size: 25px;
}
